.wrapper {
    background-color: #fdf5f1;
    overflow: hidden;
}


.columns {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

}

.columns section {
    margin-block: 30px;
    padding: 0;

}


#desserts {
    font-family: 'RedHatText';
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
    color: hsl(14, 65%, 9%);

}

.desserts-column {
    display: grid;
    gap: 20px;
}

@media (min-width: 50rem) {
    .desserts-column {
        grid-template-columns: repeat(3, 1fr);
    }
}

.desserts-column div>img:hover {
    border: solid hsl(14, 86%, 42%) 2px;
}

.desserts-column div>img {
    display: inline;
    max-inline-size: 250px;
    border-radius: 10px;
    transition: filter 0.3s ease;
}

.desserts-column button {
    margin-inline: 50px;
    margin-block-start: -20px;
    border: 0.2px solid #818080;
    border-radius: 30px;
    padding-block-start: 7px;
    padding-block-end: 10px;
    padding-inline: 30px;
    background-color: white;
    inline-size: auto;
    display: block;
    position: relative;
}


.desserts-column button img {
    position: relative;
    top: 5px;
}


.desserts-column button:hover {
    filter: brightness(1) sepia(0) hue-rotate(35deg) saturate(6);
    color: hsl(14, 86%, 42%);
    border: hsl(14, 86%, 42%) solid 1px;
}


.desserts-column div .price {
    color: hsl(14, 86%, 42%);
    margin-block-start: -7px;
    font-family: 'RedHatText';
    font-weight: 600;
}

.desserts-column div p:nth-child(3) {
    margin-block-end: -7px;
    font-family: 'RedHatText';
    font-weight: 400;
    font-style: normal;
    color: hsl(7, 20%, 60%);

}

.desserts-column div p:nth-child(4) {
    font-family: 'RedHatText';
    font-weight: 700;
    font-style: normal;
    color: hsl(14, 65%, 9%);
}

.rows {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.inline-group {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-bottom: rgb(213, 212, 212) solid 0.1px;
}


.inline-group img {
    border: 1px solid rgb(177, 150, 114);
    border-radius: 50%;
    inline-size: 12px;
    padding: 1px;
    margin-block-end: 20px;
    transition: filter 0.3s ease;
}

.inline-group button {
    border-style: none;
    background-color: white;
}

.inline-group img:hover {
    filter: brightness(0) sepia(1) hue-rotate(20deg) saturate(6);
}


.inline-group p {
    display: inline;
    font-style: normal;
    font-weight: 400;
    color: hsl(12, 20%, 44%);
}


.order-total {
    margin-block: 25px;
    color: hsl(14, 65%, 9%);
}


.order-total p {
    display: inline;
    padding-inline-end: 170px;
    font-style: normal;
    font-weight: 400;
}


.cart-column {
    border: 10px solid white;
    padding: 0px 10px;
    background-color: white;
    border-radius: 10px;
    font-family: 'RedHatText';
    font-weight: 600;
    font-style: normal;
    margin-block-start: 25px;
}

.cart-column .cart-column-first-paragraph {
    font-weight: 900;
    font-size: large;
    margin-block-end: auto;

}

.cart-column .cart-column-first-paragraph,
.inline-group strong {
    color: hsl(14, 86%, 42%);
}



.inline-group p span:last-child {
    margin-inline-start: 6px;
    font-weight: 600;
}

.carbon-neutral {
    background-color: #f3eeee;
    padding: 12px 30px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 200;
    margin-block-end: 25px;
}


#confirm-order {
    inline-size: 320px;
    padding: 12px 25px;
    background-color: hsl(14, 86%, 42%);
    border-style: none;
    border-radius: 20px;
    color: white;
}

#confirm-order:hover {
    background-color: #a00808;
}

button {
    cursor: pointer;
}

@font-face {
    font-family: 'RedHatText';
    src: url('./fonts/static/RedHatText-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'RedHatText';
    src: url('./fonts/static/RedHatText-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'RedHatText';
    src: url('./fonts/static/RedHatText-Bold.ttf') format('truetype');
    font-weight: 700;
}


@font-face {
    font-family: 'RedHatText';
    src: url('./fonts/RedHatText-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    /* range supported */
    font-style: normal;
}

@font-face {
    font-family: 'RedHatText';
    src: url('./fonts/RedHatText-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}